.footer {
  width: 100%;
  background-color: $white;
  padding-top: 42px;

  @include tablet {
    padding-top: 28.43px;
  }

  &__main {
    display: flex;
    flex-direction: row;
  }

  &__divider {
    height: 1px;
    background: $gray;
    width: 100%;
  }

  &__legacy {
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: $dark;
    padding: 17.5px 0;

    @include tablet {
      padding: 15px 0;
    }
  }
}

.info {
  max-width: 32%;

  &__logo {
    padding-top: 36px;

    @include tablet {
      padding-top: 24.36px;
      width: 95.4px;
    }
  }

  &__description {
    margin-top: 26px;
    padding: 17.5px 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $gray;

    @include tablet {
      margin-top: 17.5px;
      padding: 15.5px 0;

      font-size: 14px;
      line-height: 16px;
    }
  }

  &__followers {
    line-height: 30px;
    text-transform: uppercase;
    color: $dark;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 25px 0;

    @include tablet {
      margin-top: 0px;
      padding: 7px 0;
    }
  }

  &__number {
    font-weight: 700;
    font-style: bold;
    font-size: 36px;

    @include tablet {
      font-size: 18px;
    }
  }

  &__quantity {
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    text-align: end;
    padding-right: 5px;

    @include tablet {
      font-size: 14px;
    }
  }

  &__text {
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    text-align: end;

    @include tablet {
      font-size: 14px;
    }
  }

  &__divider {
    height: 1px;
    background: $gray;
    width: 100%;
    margin: 0;
  }

  &__follow {
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: $gray;

    padding: 14px 0 0;
    margin-right: 30px;

    @include tablet {
      font-size: 12px;
      line-height: 14px;

      margin-right: 20px;
    }
  }

  &__media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__input-email {
    display: flex;
    flex-direction: row;
  }

  &__email {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $gray;
    border: 1px solid $gray;
    padding: 16px 0;
    width: 64%;

    &:active,
    &:focus {
      border: 1px solid $dark;
    }

    @include tablet {
      font-size: 14px;
      line-height: 16px;
      padding: 10.6px 0;
    }
  }

  &__button {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: $ordinary-white;
    background-color: $green;
    padding: 16px 0;

    border: none;
    width: 36%;

    &:hover {
      cursor: pointer;
      background-color: $lightGreen;
    }

    &:active {
      cursor: pointer;
      background-color: $darkGreen;
    }

    @include tablet {
      font-size: 14px;
      line-height: 16px;
      padding: 10.6px 0;
    }
  }
}

.media {
  margin-bottom: 46px;

  @include tablet {
    margin-bottom: 31.13px;
  }

  &-logo {
    margin-top: 10px;

    @include tablet {
      width: 16.24px;
    }

    &:hover {
      box-shadow: 0 0 5px 2px $green;
    }
  }
}

.blogs {
  max-width: 40%;
  margin-left: 30px;

  @include tablet {
    margin-left: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $dark;
    padding: 36px 0;

    @include tablet {
      font-size: 18px;
      line-height: 21px;
      padding: 23.34px 0;
    }
  }

  &__card {
    display: flex;
    flex-direction: row;
  }
}

.card {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 13.54px;
  }

  &__image {
    width: 39%;
    max-width: 170px;
    height: auto;
    object-fit: contain;

    @include tablet {
      max-width: 115px;
    }
  }

  &__description {
    width: 61%;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    align-items: center;
    color: $dark;
    margin-left: 30px;
    padding: 3.3px 0;

    @include tablet {
      font-size: 14px;
      line-height: 16px;
      margin-left: 20px;
      padding: 7.06px 0;
    }
  }

  &__description-date {
    padding: 10px 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: $dark;

    @include tablet {
      padding: 5px 0;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &:last-child {
    margin-bottom: 42px;
  }
}

.instagram {
  max-width: 23%;
  margin-left: 30px;

  @include tablet {
    margin-left: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $dark;
    padding: 36px 0;

    @include tablet {
      font-size: 18px;
      line-height: 21px;
      padding: 23.34px 0;
    }
  }

  &__container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 0;
  }

  &__photo {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  &__link {
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: $dark;
    padding: 38px 0;

    @include tablet {
      font-size: 12px;
      line-height: 14px;
      padding: 14px 0;
    }
  }
}
