.banner__container {
  max-width: 100%;
  background: linear-gradient(
      360deg,
      rgba(237, 215, 137, 0.9) 0%,
      rgba(233, 130, 131, 0.9) 100%
    ),
    url(../images/eagle-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  color: $ordinary-white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    margin-top: 77px;
    text-align: center;

    @include tablet {
      font-size: 48px;
      line-height: 70px;
      margin-top: 52px;
    }
  }

  &__main-title {
    text-align: center;
    margin: 0 100px 44px;

    @include tablet {
      font-size: 96px;
      line-height: 117px;
      margin: 0 115px 30px;
    }
  }

  &__divider {
    background: $ordinary-white;

    @include tablet {
      width: 115px;
    }
  }

  &__button {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $ordinary-white;

    background-color: transparent;
    border: 4px solid $ordinary-white;

    padding: 26px 93px;
    margin: 74.42px auto 112px;

    &:hover {
      cursor: pointer;
      background-color: $ordinary-white;
      color: $orange;
    }

    &:active {
      cursor: pointer;
      background-color: $ordinary-white;
      color: $orange;
      border-color: $orange;
      text-decoration: none;
    }

    @include tablet {
      font-size: 18px;
      line-height: 21px;

      margin: 50.47px auto 78px;
      padding: 16.6px 93px;
    }
  }

  &__slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;

    &-divider {
      width: 270px;

      &--small {
        background: $red;
        width: 70px;
        position: relative;
        right: 100px;
        top: -4px;

        @include tablet {
          width: 64px;
          right: 84.5px;
        }
      }

      @include tablet {
        width: 233px;
      }
    }

    &-info {
      margin-right: 30px;

      @include tablet {
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }

      &--number {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-transform: uppercase;
        display: inline-block;
        padding: 19.5px 0;
      }
    }
  }
}
