.portfolio {
  text-align: center;
  padding-top: 84px;

  @include tablet {
    padding-top: 58px;
  }

  &__container {
    width: calc(100% + 340px);
    position: relative;
    left: -170px;

    display: grid;
    grid-template: repeat(2, 50%) / repeat(4, 25%);

    @include tablet {
      width: calc(100% + 32px);
      left: -16px;
    }
  }

  &__case--long {
    grid-area: 1/3/3/4;
  }

  &__title {
    font-size: 30px;
    line-height: 44px;
    color: $dark;
    padding: 18px 0;

    @include tablet {
      font-size: 24px;
      line-height: 35px;
      padding: 9.6px 0;
    }
  }

  &__subtitle {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: $dark;
    padding: 20px 0;
    margin-bottom: 24px;

    @include tablet {
      font-size: 24px;
      line-height: 28px;
      padding: 13.5px 0;
      margin-bottom: 15.82px;
    }
  }

  &__divider {
    @include tablet {
      width: 146px;
    }
  }

  &__description {
    padding: 38px 0;
    margin-bottom: 42px;

    @include tablet {
      font-size: 14px;
      line-height: 16px;
      padding: 24px 100px;
      margin-bottom: 28.48px;
    }
  }
}

.case {
  position: relative;

  &__image {
    width: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__overlay {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: opacity 0.3s;
    background: linear-gradient(
      360deg,
      rgba(237, 215, 137, 0.9) 0%,
      rgba(233, 130, 131, 0.9) 100%
    );

    &:hover {
      opacity: 1;
    }
  }

  &__icon {
    margin: 118px auto 57px;

    @include tablet {
      margin: 80px auto 38.65px;
      width: 28.48px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: $ordinary-white;
    padding: 11px 0;

    @include tablet {
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__description {
    text-align: center;
    color: $ordinary-white;

    @include tablet {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
