.swiper {
  width: 100%;

  &-pagination {
    display: none;
  }
}

.reviews {
  &__container {
    width: 100%;
    padding: 42px 270px;
    background-color: $white;
    display: flex;
  }

  &__arrow {
    margin-left: 320px;

    &--right {
      transform: rotate(180deg);
      margin-right: 320px;
      margin-left: 0;
    }
  }

  &__icon {
    padding: 35px;
    border: 2px solid $green;
    margin-right: 30px;
  }

  &__text {
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $message-gray;
    margin-bottom: 21px;
  }

  &__divider {
    width: 70px;
    margin-right: 56px;
    display: inline-block;
  }

  &__name {
    font-family: $kaushan-font-stack;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    display: inline-block;
  }
}
